.sign-up-form{
  width: 300px;

  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}
.signup-button{
  background-color: #cec8ef;
  margin-bottom: 30px;
}
.input-box{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #999;
  outline: none;
  color: #999;
}
button{
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
img{
  width: 70px;
  margin-top: -50px;
}
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
body{
  background-color: black;
}
.sign{
  color: #4c2882;
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 60px;
}
.tae{

  width: 100px;
  height: 100px;
}
